<% title %Q{Sign in to your "#{configatron.app_name}" account} %>

Not a member? <%= link_to 'Sign up here!', new_registration_path(resource_name) %>
<br /><br/>

<%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:id => :session_new}) do |form| %>
  <%= form.inputs do %>
    <%= form.input :email, :required => true %>
    <%= form.input :password, :required => true %>

    <li>
      <% if devise_mapping.recoverable? %>
        <%= link_to 'Forgot your password?', new_password_path(resource_name) %>
        <br/>
      <% end %>

      <% if devise_mapping.confirmable? %>
        <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
        <br/>
      <% end %>

      <% if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) %>
        <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %>
        <br/>
      <% end %>
    </li>

    <% if devise_mapping.rememberable? %>
      <%= form.input :remember_me, :as => :boolean, :label => 'Remember my login on this computer' %>
    <% end %>
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button 'Sign in' %>
  <% end %>
<% end %>

<%= render :partial => 'devise/shared/oauth' %>